<% provide :title, 'About' %>

<h1>About DocSocial</h1>
<p>DocSocial is a secured social platform that allows doctors and patient to communicate with the full knowledge 
	that their private conversations are secured.</p>
