<% provide :title, 'Home' %>

<h1>Welcome to DocSocial</h1>
<p>
	This is the home page for Docsocial. A rails application to help patients and doctors communicate better.
	Find me in app/views/static_pages/home.html.erb
</p>
