<% provide :title, 'Privacy' %>

<h1>Privacy</h1>
<p>Privacy is the most important thing to us. Your data is encrypted on our HIPAA certified servers. As a result there are 
	2 significant level of protection for your data. Firstly, its backed by HIPAA certification. Second, no one will be able to see your information, not even our administrators, because your data is encrypted and your password is used as part of the key to decrypt it.</p>
